### retrieving the data and saving them as CSV file

In [28]:
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
# Read the text file into a DataFrame
df_final_demo = pd.read_csv('../Data/Raw data/df_final_demo (1).txt', delimiter=',', header=0)
df_final_experiment_clients = pd.read_csv('../Data/Raw data/df_final_experiment_clients.txt', delimiter=',', header=0)
df_final_web_data1 = pd.read_csv('../Data/Raw data/df_final_web_data_pt_1.txt', delimiter=',', header=0)
df_final_web_data2 = pd.read_csv('../Data/Raw data/df_final_web_data_pt_2.txt', delimiter=',', header=0)

In [53]:
df_final_web_data2.to_csv('df_final_web_data2.csv')

### retrieve the data using pandas read

In [30]:
df_final_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [31]:
df_final_demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [37]:
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [33]:
gender_frequency= df_final_demo['gendr'].value_counts()
gender_proportion= df_final_demo['gendr'].value_counts(normalize=True)
gender_frequency,gender_proportion

(gendr
 U    24122
 M    23724
 F    22746
 X        3
 Name: count, dtype: int64,
 gendr
 U    0.341696
 M    0.336058
 F    0.322204
 X    0.000042
 Name: proportion, dtype: float64)

In [34]:
calls_6_months_frequency=df_final_demo['calls_6_mnth'].value_counts(ascending =False)
calls_6months_proportion=df_final_demo['calls_6_mnth'].value_counts(normalize =True)
calls_6_months_frequency, calls_6months_proportion

(calls_6_mnth
 6.0    14112
 1.0    11016
 2.0    10252
 3.0     8752
 0.0     7732
 4.0     7175
 5.0     6627
 7.0     4929
 Name: count, dtype: int64,
 calls_6_mnth
 6.0    0.199901
 1.0    0.156045
 2.0    0.145223
 3.0    0.123975
 0.0    0.109526
 4.0    0.101636
 5.0    0.093874
 7.0    0.069821
 Name: proportion, dtype: float64)

In [35]:
log_in_6months_frequency=df_final_demo['logons_6_mnth'].value_counts()
log_in_6months_proportion=df_final_demo['logons_6_mnth'].value_counts(normalize=True)
log_in_6months_frequency, log_in_6months_proportion

(logons_6_mnth
 9.0    12350
 3.0    10243
 4.0    10220
 7.0     9893
 5.0     9254
 6.0     7878
 8.0     4810
 2.0     3009
 1.0     2938
 Name: count, dtype: int64,
 logons_6_mnth
 9.0    0.174942
 3.0    0.145095
 4.0    0.144769
 7.0    0.140137
 5.0    0.131086
 6.0    0.111594
 8.0    0.068135
 2.0    0.042623
 1.0    0.041618
 Name: proportion, dtype: float64)

In [41]:
# Creating a crosstab table for the 'MSZoning' column, counting occurrences for each unique value

my_table= pd.crosstab(index=[df_final_demo['gendr'],df_final_demo['clnt_tenure_mnth']], columns='count')
my_table

col_0                   count
gendr clnt_tenure_mnth
F     33.0                  1
      34.0                  2
      35.0                  2
      36.0                  2
      37.0                  7
...                       ...
U     569.0                 1
      669.0                 1
X     110.0                 1
      113.0                 1
      136.0                 1

[1266 rows x 1 columns]

In [ ]:
#to merge the demo final and

In [ ]:
df_final_experiment_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [48]:
df_final_experiment_clients['Variation'].unique()

array(['Test', 'Control', nan], dtype=object)

In [47]:
df_final_experiment_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [ ]:
df_final_web_data1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [ ]:
df_final_web_data2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

#### Day 1 & 2: EDA & Data Cleaning


**Dataset Exploration**
Let's start by exploring the structure and summary of each dataset:

**1- Web Data 1 & 2:**

These datasets contain details about client interactions at different process steps along with timestamps.

**2- Experiment Clients:**

This dataset indicates whether a client was in the control or test group.

**3- Demo Data**:

This dataset contains demographic information and activity data about the clients.


**Exploration and Cleaning**
Summary Statistics and Structure Check:

Understand the data types and check for missing values.


**Cleaning and Preprocessing:**

Handle missing values, if any.

Ensure data consistency and format alignment.

**Merge Datasets:**

Combine datasets for a holistic view for analysis.

In [ ]:
# Check for missing values in each dataframe
missing_values_web_data = df_web_data.isnull().sum()
missing_values_experiment_clients = df_experiment_clients.isnull().sum()
missing_values_demo = df_demo.isnull().sum()

missing_values_web_data, missing_values_experiment_clients, missing_values_demo